
$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$text-small: 1.5rem;
$gradient: linear-gradient(left, #0af3a5, #28b9f7);
$background-color: #154353;
$gray-text: #2c2c2c;
$social-text: #777575;;